# Backend API URL for the Finesse frontend application.
# Example: https://finesse-backend.com
REACT_APP_BACKEND_URL=<Backend-API-URL>

# Base path for the Finesse frontend application. Used for routing.
# Example: finesse-frontend
REACT_APP_BASENAME=<Frontend-Base-Path>

# Boolean flag to enable or disable debug mode for the application.
# When set to True, the application provides a debug panel.
# Defaults to False when not set. Optional.
# Example: True or False
REACT_APP_DEBUG_MODE=<True/False>


# GitHub API URL for accessing the Finesse data repository.
# This URL is used to fetch data from the specified GitHub repository.
# Example: https://api.github.com/repos/ai-cfia/finesse-data/contents
REACT_APP_GITHUB_API_URL=<GitHub-API-URL>
