# Dependencies
/node_modules

# Production build files
/dist
/build

# Compiled files
/*.js.map
/*.css.map
/.tscache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.svg

# Operating System files
.DS_Store
Thumbs.db
