.button {
  all: unset;
  cursor: pointer;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  margin-left: 10px;
}

input:focus {
  outline: none;
}
