.debug-panel {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  min-width: 250px; /* Adjusted width */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 150px;
  left: 0px;
  z-index: 1000;
  white-space: normal; /* Updated white-space property */
}

.toggle-container {
  display: flex;
  align-items: center;
  min-width: 220px;
  justify-content: space-between;
}

.textarea-input {
  width: 100%; /* Set textarea width to 100% */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.set-data-button {
  width: 100%; /* Set button width to 100% */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-top: 10px; /* Add some space between the textarea and button */
}

.toggle-label {
  margin-right: 10px;
  white-space: nowrap;
}

